@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inconsolata', sans-serif;
  font-weight: 500;
  background: #1E1E1E;
}

p, h1, h2, h3,
h4, h5, h6 {
  margin: 0;
}

a {
  color: red;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.header {
  background-image: linear-gradient(#31CCE0, #24B3A8);
  height: 86px;
}

.main {
  display: flex;
  background-color: white;
}

.aside {
  background-image: linear-gradient(black, #31CCE0);
  flex-basis: 29%;
}

.picture {
  position: sticky;
  top: 0;
}

.content {
  flex-basis: 71%;
  padding: 20px;
}

.footer {
  background-image: linear-gradient(#E3B15A, #BC9476);
  padding: 25px 15px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.icon-link > img {
  display: block;
  width: 40px;
  height: 40px;
}

@media screen and (max-width: 750px) {
  .main {
    flex-direction: column;
  }

  .aside {
    text-align: center;
    flex-basis: 100%;
  }

  .picture {
    object-fit: cover;
    width: 100%;
  }

  .content {
    padding: 20px 15px;
  }
}
